doctype
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/js/jquery-2.1.1.min.js")
		script(src="/js/flot/jquery.flot.min.js")
		script(src="/js/flot/jquery.flot.time.min.js")
		script(src="/js/flot/jquery.flot.canvas.min.js")
		script(src="/js/flot/jquery.flot.JUMlib.js")
		script(src="/js/flot/jquery.flot.mouse.js")
		script(src="/js/flot/jquery.flot.candlestick.js")
	body!= body

